<mat-card>
  <h1>Add Items</h1>
  <p></p>
  <mat-card-content>
    <mat-form-field> 
      Cost in Wei: <input style="margin-top:15px" type="text" matInput name="cost" [(value)]="model.cost" (change)="setCostInWei($event)" />
    </mat-form-field>
    <p></p>
    <mat-form-field>
      Item Identifier: <input style="margin-top:15px" type="text" matInput name="cost" [(value)]="model.itemName" (change)="setItemName($event)" />
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <button mat-button id="" (click)="handleSubmit()">Create new Item</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>User Items</mat-card-header>
  <mat-card-content>
    <ul *ngFor="let item of this.userItems">
      <li><strong>{{item._identifier}}</strong> | Status: {{ item._step | StepPipe }} <span *ngIf="item._step == 0">| Open payment: {{item._itemPrice}} Wei <button mat-button (click)="payItem(item._item, item._itemPrice)">Pay now</button></span><span *ngIf="item._step == 1"><button mat-button (click)="triggerDelivery(item._item)">Request Delivery</button></span></li>
    </ul>
  </mat-card-content>
</mat-card>
