<mat-toolbar color="primary">SolpplyChain
    <span style="margin-left:50px; margin-right:50px">
        <nav>
            <a style="color:lemonchiffon" routerLink="/items">Items</a>
        </nav>
    </span>
        <nav>
            <a style="color:lemonchiffon" routerLink="/crowd-sale">Crowdsale</a>
        </nav>
    
</mat-toolbar>
<router-outlet></router-outlet>
