<div *ngIf="!this.state; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>Loading web3 accounts and contracts .. Did you initialize MetaMask?</ng-template>
<ng-template #elseBlock>
    <mat-card>
        <h1>SolpplyChain Token Sale</h1>
        <mat-card-content>
            <p>Get your Tokens today!</p>
            <h2>Kyc Whitelisting</h2>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field>
                <p>KYC Address: </p> <input type="text" matInput name="kycAddress" [(value)]="model.kycAddress" (change)="setKycAddress($event)" />
              </mat-form-field>
              <button mat-fab id="" (click)="handleSubmit()">Whitelist</button>
          </mat-card-content>
    </mat-card>

    <mat-card>
        <h2>
            Buy Tokens
        </h2>
        <mat-card-content>
        </mat-card-content>
      <p>You currently have have: {{getUserTokens()}} Cappu Token(s)</p>

      <mat-card-content>
        <mat-form-field>
          <input type="text" matInput name="tokenAmount" [(value)]="model.tokenAmount" (change)="setTokenAmount($event)" />
        </mat-form-field>
        <button mat-fab id="" (click)="handleBuyToken()">Buy!</button>
      </mat-card-content>
      </mat-card>


</ng-template>